<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.HelloServlet</servlet-class>

		<servlet-name>MySignUp</servlet-name>
		<servlet-class>com.MySignUp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>


		<servlet-name>MySignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>com.LogFilter</filter-class>
		<init-param>
			<param-name>test-param</param-name>
			<param-value>Initialization Paramter</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>





</web-app>
