<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Define a bean -->
	
	
	<bean id="helloWorld" class="com.HelloWorld">
		<property name="message"
			value="Hello, Spring ApplicationContext!" />
	</bean>
</beans>
